In [1]:
import pandas as pd
from pandas import Series

In [2]:
obj = Series([3, 6, 9, 12])

In [3]:
obj

0     3
1     6
2     9
3    12
dtype: int64

In [4]:
obj.values

array([ 3,  6,  9, 12])

In [5]:
obj.index

Int64Index([0, 1, 2, 3], dtype='int64')

In [6]:
ww2_cas = Series([8700000, 4300000, 3000000, 2100000, 400000], index=["USSR", "Gemany", "China", "Japan", "USA"])

In [7]:
ww2_cas

USSR      8700000
Gemany    4300000
China     3000000
Japan     2100000
USA        400000
dtype: int64

In [8]:
ww2_cas['USA']

400000

In [9]:
ww2_cas[ww2_cas > 4000000]

USSR      8700000
Gemany    4300000
dtype: int64

In [10]:
ww2_cas > 4000000

USSR       True
Gemany     True
China     False
Japan     False
USA       False
dtype: bool

In [11]:
'USSR' in ww2_cas

True

In [12]:
ww2_dict = ww2_cas.to_dict()

In [13]:
ww2_dict

{'China': 3000000,
 'Gemany': 4300000,
 'Japan': 2100000,
 'USA': 400000,
 'USSR': 8700000}

In [14]:
ww2_Series = Series(ww2_dict)

In [15]:
ww2_Series

China     3000000
Gemany    4300000
Japan     2100000
USA        400000
USSR      8700000
dtype: int64

In [16]:
countries = ['China', 'Gemany', 'Japan', 'USA', 'USSR', 'Argentina']

In [20]:
obj2 = Series(ww2_dict, index=countries)

In [21]:
obj2

China        3000000
Germany          NaN
Japan        2100000
USA           400000
USSR         8700000
Argentina        NaN
dtype: float64

In [22]:
pd.isnull(obj2)

China        False
Germany       True
Japan        False
USA          False
USSR         False
Argentina     True
dtype: bool

In [23]:
pd.notnull(obj2)

China         True
Germany      False
Japan         True
USA           True
USSR          True
Argentina    False
dtype: bool

In [24]:
ww2_Series

China     3000000
Gemany    4300000
Japan     2100000
USA        400000
USSR      8700000
dtype: int64

In [25]:
obj2

China        3000000
Germany          NaN
Japan        2100000
USA           400000
USSR         8700000
Argentina        NaN
dtype: float64

In [26]:
ww2_Series + obj2

Argentina         NaN
China         6000000
Gemany            NaN
Germany           NaN
Japan         4200000
USA            800000
USSR         17400000
dtype: float64

In [27]:
obj2.name = '第二次世界大戦の死傷者'

In [28]:
obj2

China        3000000
Germany          NaN
Japan        2100000
USA           400000
USSR         8700000
Argentina        NaN
Name: 第二次世界大戦の死傷者, dtype: float64

In [31]:
obj2.index.name = '国名'

In [32]:
obj2

国名
China        3000000
Germany          NaN
Japan        2100000
USA           400000
USSR         8700000
Argentina        NaN
Name: 第二次世界大戦の死傷者, dtype: float64