In [2]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame
from numpy.random import randn

In [3]:
ser1 = Series([1,2,3,4], index=['A', 'B', 'C', 'D'])

In [4]:
ser1

A    1
B    2
C    3
D    4
dtype: int64

In [5]:
ser2 = ser1.reindex(['A', 'B', 'C', 'D', 'E', 'F'])

In [6]:
ser2

A     1
B     2
C     3
D     4
E   NaN
F   NaN
dtype: float64

In [7]:
ser2.reindex(['A', 'B', 'C', 'D', 'E', 'F', 'G'], fill_value=0)

A     1
B     2
C     3
D     4
E   NaN
F   NaN
G     0
dtype: float64

In [8]:
ser3 = Series(['USA', 'Mexico', 'Canada'], index=[0, 5, 10])

In [9]:
ser3

0        USA
5     Mexico
10    Canada
dtype: object

In [10]:
ser3.reindex(range(15), method='ffill')

0        USA
1        USA
2        USA
3        USA
4        USA
5     Mexico
6     Mexico
7     Mexico
8     Mexico
9     Mexico
10    Canada
11    Canada
12    Canada
13    Canada
14    Canada
dtype: object

In [11]:
dframe = DataFrame(randn(25).reshape(5,5), index=['A', 'B', 'D', 'E', 'F'], columns=['col1', 'col2', 'col3', 'col4', 'col5'])

In [12]:
dframe

       col1      col2      col3      col4      col5
A  0.356701  1.320247 -1.760869  0.139709 -1.510389
B  0.902505 -1.628079  0.074746  1.069206 -0.217382
D  0.602696  0.188683 -0.179634 -0.453286  0.696886
E  1.422724 -0.613655 -0.994664 -1.066428 -1.461633
F  0.401310 -0.135541  0.715308 -0.281968  1.247003

In [13]:
new_index =['A', 'B', 'C', 'D', 'E', 'F']
dframe2 = dframe.reindex(new_index)

In [14]:
dframe2

       col1      col2      col3      col4      col5
A  0.356701  1.320247 -1.760869  0.139709 -1.510389
B  0.902505 -1.628079  0.074746  1.069206 -0.217382
C       NaN       NaN       NaN       NaN       NaN
D  0.602696  0.188683 -0.179634 -0.453286  0.696886
E  1.422724 -0.613655 -0.994664 -1.066428 -1.461633
F  0.401310 -0.135541  0.715308 -0.281968  1.247003

In [15]:
new_columns = ['col1', 'col2', 'col3', 'col4', 'col5', 'col6']
dframe2.reindex(columns=new_columns)

       col1      col2      col3      col4      col5  col6
A  0.356701  1.320247 -1.760869  0.139709 -1.510389   NaN
B  0.902505 -1.628079  0.074746  1.069206 -0.217382   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D  0.602696  0.188683 -0.179634 -0.453286  0.696886   NaN
E  1.422724 -0.613655 -0.994664 -1.066428 -1.461633   NaN
F  0.401310 -0.135541  0.715308 -0.281968  1.247003   NaN

In [16]:
dframe

       col1      col2      col3      col4      col5
A  0.356701  1.320247 -1.760869  0.139709 -1.510389
B  0.902505 -1.628079  0.074746  1.069206 -0.217382
D  0.602696  0.188683 -0.179634 -0.453286  0.696886
E  1.422724 -0.613655 -0.994664 -1.066428 -1.461633
F  0.401310 -0.135541  0.715308 -0.281968  1.247003

In [17]:
dframe.ix[new_index, new_columns]

       col1      col2      col3      col4      col5  col6
A  0.356701  1.320247 -1.760869  0.139709 -1.510389   NaN
B  0.902505 -1.628079  0.074746  1.069206 -0.217382   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D  0.602696  0.188683 -0.179634 -0.453286  0.696886   NaN
E  1.422724 -0.613655 -0.994664 -1.066428 -1.461633   NaN
F  0.401310 -0.135541  0.715308 -0.281968  1.247003   NaN