In [1]:
import numpy as np
from pandas import Series, DataFrame
import pandas as pd

from numpy import nan

In [2]:
data = Series(['one', 'two', nan, 'four'])

In [3]:
data

0     one
1     two
2     NaN
3    four
dtype: object

### どこに欠損値(null)があるか

In [4]:
data.isnull()

0    False
1    False
2     True
3    False
dtype: bool

### 欠損値をデータから取り除く

In [5]:
data.dropna()

0     one
1     two
3    four
dtype: object

---

In [6]:
dframe = DataFrame([[1, 2, 3], [nan, 5, 6], [7, nan, 9], [nan, nan, nan]])

In [7]:
dframe

    0   1   2
0   1   2   3
1 NaN   5   6
2   7 NaN   9
3 NaN NaN NaN

### 欠損値がある行を削除

In [9]:
dframe.dropna()

   0  1  2
0  1  2  3

### すべての要素が欠損値の行を削除

In [11]:
dframe.dropna(how='all')

    0   1  2
0   1   2  3
1 NaN   5  6
2   7 NaN  9

### 欠損値のある各列を削除

In [12]:
dframe.dropna(axis=1)

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3]

In [13]:
dframe2 = DataFrame([[1,2,3,nan], [2,nan,5,6], [nan,7,nan,9],[1,nan,nan,nan]])

In [14]:
dframe2

    0   1   2   3
0   1   2   3 NaN
1   2 NaN   5   6
2 NaN   7 NaN   9
3   1 NaN NaN NaN

### 欠損値ではない要素が2個以上ある行が残る

In [15]:
dframe2.dropna(thresh=2)

    0   1   2   3
0   1   2   3 NaN
1   2 NaN   5   6
2 NaN   7 NaN   9

In [16]:
dframe2.dropna(thresh=3)

   0   1  2   3
0  1   2  3 NaN
1  2 NaN  5   6

### 欠損値を1にする

In [17]:
dframe2.fillna(1)

   0  1  2  3
0  1  2  3  1
1  2  1  5  6
2  1  7  1  9
3  1  1  1  1

### 列ごとに欠損値を何で埋めるか

In [19]:
dframe2.fillna({0:0, 1:1, 2:2, 3:3})

   0  1  2  3
0  1  2  3  3
1  2  1  5  6
2  0  7  2  9
3  1  1  2  3

### Dframe2を直接書き込む

In [20]:
dframe2.fillna(0, inplace=True)

In [21]:
dframe2

   0  1  2  3
0  1  2  3  0
1  2  0  5  6
2  0  7  0  9
3  1  0  0  0