In [1]:
import pandas as pd

In [2]:
!cat lec25.csv

q,r,s,t,apple
2,3,4,5,pear
a,s,d,f,rabbit
5,2,5,7,dog

In [3]:
dframe = pd.read_csv('lec25.csv')

In [4]:
dframe

   q  r  s  t   apple
0  2  3  4  5    pear
1  a  s  d  f  rabbit
2  5  2  5  7     dog

In [5]:
dframe = pd.read_csv('lec25.csv', header=None)

In [6]:
dframe

   0  1  2  3       4
0  q  r  s  t   apple
1  2  3  4  5    pear
2  a  s  d  f  rabbit
3  5  2  5  7     dog

In [7]:
dframe = pd.read_table('lec25.csv', sep=',', header=None)

In [8]:
dframe

   0  1  2  3       4
0  q  r  s  t   apple
1  2  3  4  5    pear
2  a  s  d  f  rabbit
3  5  2  5  7     dog

In [9]:
pd.read_csv('lec25.csv', header=None, nrows=2)

   0  1  2  3      4
0  q  r  s  t  apple
1  2  3  4  5   pear

In [10]:
dframe

   0  1  2  3       4
0  q  r  s  t   apple
1  2  3  4  5    pear
2  a  s  d  f  rabbit
3  5  2  5  7     dog

In [11]:
dframe.to_csv('mytextdata_out.csv')

In [12]:
!cat mytextdata_out.csv

,0,1,2,3,4
0,q,r,s,t,apple
1,2,3,4,5,pear
2,a,s,d,f,rabbit
3,5,2,5,7,dog

In [13]:
import sys
dframe.to_csv(sys.stdout)

,0,1,2,3,4
0,q,r,s,t,apple
1,2,3,4,5,pear
2,a,s,d,f,rabbit
3,5,2,5,7,dog

In [14]:
dframe.to_csv(sys.stdout, sep='_')

_0_1_2_3_4
0_q_r_s_t_apple
1_2_3_4_5_pear
2_a_s_d_f_rabbit
3_5_2_5_7_dog

In [18]:
dframe.to_csv(sys.stdout, sep='¥t')

TypeError: "delimiter" must be an 1-character string

In [16]:
dframe.to_csv(sys.stdout, columns=[0, 1, 2])

,0,1,2
0,q,r,s
1,2,3,4
2,a,s,d
3,5,2,5