In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [2]:
# このセルの内容は、理解できなくても大丈夫です。
# ただサンプルになるデータを作りたいだけですので、出来たデータをどのような加工するかに注目してください。

import pandas.util.testing as tm
tm.N = 3

# ちょっとした関数を作ります。
def unpivot(frame):
    N, K = frame.shape
    data = {'value' : frame.values.ravel('F'),
            'variable' : np.asarray(frame.columns).repeat(N),
            'date' : np.tile(np.asarray(frame.index), K)}
    return DataFrame(data, columns=['date', 'variable', 'value'])

# DataFrameを作ります。
dframe = unpivot(tm.makeTimeDataFrame())

In [3]:
dframe

         date variable     value
0  2000-01-03        A  2.135729
1  2000-01-04        A  0.612022
2  2000-01-05        A  0.042239
3  2000-01-03        B -0.242696
4  2000-01-04        B  1.284711
5  2000-01-05        B  0.799619
6  2000-01-03        C -0.132316
7  2000-01-04        C -1.220348
8  2000-01-05        C  0.900001
9  2000-01-03        D -0.951438
10 2000-01-04        D -1.209836
11 2000-01-05        D -0.418873

In [5]:
dframe_piv = dframe.pivot('date', 'variable', 'value')

In [6]:
dframe_piv

variable           A         B         C         D
date
2000-01-03  2.135729 -0.242696 -0.132316 -0.951438
2000-01-04  0.612022  1.284711 -1.220348 -1.209836
2000-01-05  0.042239  0.799619  0.900001 -0.418873