In [2]:
import numpy as np
import pandas as pd

import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns

# 日本語フォントを設定
font = {'family': 'IPAexGothic'}
mpl.rc('font', **font)

%matplotlib inline

In [3]:
import os
import re
import sys


pwd = os.getcwd()
path = re.search('.+/推薦システム', pwd).group(0)

sys.path.append(path)
# print(sys.path)

# 準備

In [6]:
from datetime import datetime


data_org = pd.read_csv(
   'http://files.grouplens.org/datasets/movielens/ml-100k/u.data', 
    names=["user_id", "item_id", "rating", "timestamp"], 
    sep="\t"
)
data_org['timestamp'] = data_org['timestamp'].map(datetime.fromtimestamp)
data_org = data_org.set_index(['user_id', 'item_id'])
data_org.head()

                 rating           timestamp
user_id item_id
196     242           3 1997-12-05 00:55:49
186     302           3 1998-04-05 04:22:22
22      377           1 1997-11-07 16:18:36
244     51            2 1997-11-27 14:02:03
166     346           1 1998-02-02 14:33:16

In [5]:
評価値_df = data_org.copy()
評価値_df.head()

                 rating           timestamp
user_id item_id
196     242           3 1997-12-05 00:55:49
186     302           3 1998-04-05 04:22:22
22      377           1 1997-11-07 16:18:36
244     51            2 1997-11-27 14:02:03
166     346           1 1998-02-02 14:33:16

## 評価値行列の作成

In [7]:
評価値行列_df = 評価値_df['rating'].unstack()
# 評価行列_df.fillna(0.0, inplace=True)
評価値行列_df.head()

item_id,1,2,3,4,5,6,7,8,9,10,...,1673,1674,1675,1676,1677,1678,1679,1680,1681,1682
user_id,,,,,,,,,,,,,,,,,,,,,
1,5.0,3.0,4.0,3.0,3.0,5.0,4.0,1.0,5.0,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,4.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

---

# クラスタモデル

---

# 関数モデル

---

# 確率モデル

---

# 時系列モデル