In [3]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

plt.rcParams['font.family'] = 'IPAPGothic' #全体のフォントを設定

%matplotlib inline

# データセットの作成

In [4]:
R_arr = np.array([
    [1, 3, np.nan,  3],
    [np.nan, 1, 3, np.nan],
    [2, 1, 3, 1],
    [1, 3, 2, np.nan]
])

R_df = pd.DataFrame(
    R_arr, 
    columns=['親子丼', '牛丼', '海鮮丼', 'カツ丼'], 
    index=['山田', '田中', '佐藤', '鈴木']
)
R_df.head()

    親子丼   牛丼  海鮮丼  カツ丼
山田  1.0  3.0  NaN  3.0
田中  NaN  1.0  3.0  NaN
佐藤  2.0  1.0  3.0  1.0
鈴木  1.0  3.0  2.0  NaN

上記のデータフレームを以下の形式に変換します。

| ユーザ | アイテム | 評価値 |
|:------:|:--------:|:------:|
| 山田 | 親子丼 | 1.0 | 
| 山田 | 牛丼 | 3.0 |
| 山田 | 海鮮丼 | NaN |
| ... | ... | ... |
| 鈴木 | 海鮮丼 | 2.0 |
| 鈴木 | カツ丼 | NaN |

In [15]:
R_df = R_df.stack().reset_index().rename(columns={'level_0': 'user', 'level_1': 'item', 0: 'rating'})
R_df.head()

  user item  rating
0   山田  親子丼     1.0
1   山田   牛丼     3.0
2   山田  カツ丼     3.0
3   田中   牛丼     1.0
4   田中  海鮮丼     3.0

In [16]:
from surprise import Reader

reader = Reader(line_format='user item rating', sep=' ')
R = Dataset.load_from_df(R_df, reader)

In [46]:
from surprise.similarities import pearson

n_x = R_df['user'].unique().shape[0]
pearson_sim = pearson(n_x, R_df, 0)

TypeError: an integer is required